
<div class="badge">
  <div class="badge-image">
    <div class="grayscale" style="height: {{inversePercentage}}%">
      <img src="/assets/images/badges/{{badge.name}}-before.png" width="200px" height="200px" title="{{badge.description}}" alt="{{badge.description}}" />
    </div>
    <img src="/assets/images/badges/{{badge.name}}.png" width="100%" height="100%" title="{{badge.description}}" alt="{{badge.description}}" />
  </div>
  <div class="badge-info">
    <div class="name">
      "{{badge.display_name}}"
    </div>
    {{#if badge.level}}
    <div class="level">
      Level {{badge.level}}
    </div>
    {{/if}}
    {{#if shareable}}
      <div class="share">
        Share on:
        <a class="share twitter ion-social-twitter" href="https://twitter.com/intent/tweet?text={{ tweet }}&amp;url={{ url}}"></a>
        <a class="share facebook ion-social-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ url }}"></a>
      </div>
    {{/if}}
  </div>
</div>
