<h2>Seqs</h2>

{{#each changes.seqs as |seq|}}
  {{edit-labels labels=lang.labels selectedLabels=seq.labels forSeq=true}}
  {{edit-seq seq=seq errors=errors.seqs}}
{{/each}}

<button class="add-new-meaning" {{action 'addNewSeq'}}>
  <span class="ion-plus"></span>
  Add New Seq
</button>

<h2>Meanings</h2>

{{#each changes.meanings as |meaning|}}
  {{edit-labels labels=lang.labels selectedLabels=meaning.labels forMeaning=true forPos=meaning.pos}}
  {{edit-meaning meaning=meaning lang=lang errors=errors.meanings}}
{{/each}}

<button class="add-new-meaning" {{action 'addNewMeaning'}} disabled={{hasErrors}}>
  <span class="ion-plus"></span>
  Add New Meaning
</button>

<label>
  Reason and sources
  {{textarea value=reason}}
</label>
