<label>
  Definition
  {{validated-textarea value=model.def errors=errors.model.def}}
</label>
<label class="edit-example">
  Example sentence
  <p>Note: no quotemarks are necessary.</p>
  {{validated-textarea value=model.example errors=errors.model.example placeholder="No example sentence! Please add one."}}
</label>
{{#if useLabelIds}}
  {{label-selection labels=lang.labels selectedLabels=model.label_ids useId=true}}
{{else}}
  {{label-selection labels=lang.labels selectedLabels=model.labels}}
{{/if}}
<label>
  Reason and sources
  {{textarea value=model.reason}}
</label>
{{#if showButtons}}
  <button class="submitProposal" {{bind-attr disabled=isInvalid}} {{action "submitEdit"}}>Submit My Edit</button>
  <button class="negative" {{action "cancelEdit"}}>Cancel</button>
{{/if}}
