
{{#if message.isLink}}
  {{#link-to 'redirector' (query-params url=message.url)}}
    <li class="message link">
      <div class="link-image">
        <img src="{{message.user.imageUrl}}" class="icon" alt="" />
        <span class="ion-forward"></span>
      </div>

      <div class="info">
        <div class="text">
          {{message.user.id}} shared a link {{messagedAt}}
        </div>
      </div>
    </li>
  {{/link-to}}
{{else}}
  <li class="message {{if message.isSelf 'is-self'}}">
    {{#link-to "user.index" message.user.id}}<img src="{{message.user.imageUrl}}" class="icon" alt="" />{{/link-to}}
    <div class="info">
      {{#if message.isSelf}}
        <div class='text'>
          {{message.user.id}}
          {{message.text}}
        </div>
      {{else}}
        <div class='username'>
          {{#link-to "user.index" message.user.id}}{{message.user.id}}{{/link-to}}
        </div>
        <div class="text">
          {{message.text}}
        </div>
        <div class="time">{{messagedAt}}</div>
      {{/if}}
    </div>
  </li>
{{/if}}
