
<div class="badge">
  <img src="/assets/images/badges/projects/{{project.id}}.png" title="{{project.description}}" alt="{{project.description}}">
</div>

<div class="information">
  <div class="title">
    {{#if link}}
      <h2>{{#link-to "project.index" project.id}}{{project.name}}{{/link-to}}</h2>
    {{else}}
      <h2>{{project.name}}</h2>
    {{/if}}
    {{#if complete}}
      <span class="ion-checkmark-circled"></span>
    {{/if}}
  </div>

  {{#if project.hasTimer}}
    <div class="remaining">
      Projects Ends In:
      {{#if lessThanOneDay}}
        {{liquid-bind hoursRemaining}} hrs, {{liquid-bind minutesRemaining}} mins, {{liquid-bind secondsRemaining}}s
      {{else}}
        {{liquid-bind daysRemaining}} days, {{liquid-bind hoursRemaining}} hrs, {{liquid-bind minutesRemaining}} mins
      {{/if}}
    </div>
  {{else}}
    <div class="description">
      {{project.description}}
    </div>
  {{/if}}

  <div class="progress-numbers">
    {{#if complete}}
    {{else}}
      <div class="prog-num">
        <span class="metric">Total:</span>
         {{project.totalTargetsCount}}
      </div>
      <div class="prog-num">
        <span class="metric">Pending:</span> {{project.pendingTargetsCount}}
      </div>
    {{/if}}
    <div class="prog-num">
      <span class="metric">Fixed:</span>
      {{project.fixedTargetsCount}}
    </div>
    {{#if complete}}{{else}}
    <div class="prog-num {{ if differenceIsNegative 'negative' 'positive'}}">
      <span class="metric">Difference:</span>
      {{#if differenceIsNegative}}
        {{differenceFromExpected}}
      {{else}}
        +{{differenceFromExpected}}
      {{/if}}
    </div>
    {{/if}}
    {{#if progress}}
      <div class="progress-bars">
        <div class="progress-bar">
          <div class="progress">
            <div class="bar positive" style={{project.percentageThrough}}>
            </div>
          </div>
        </div>
        {{#if project.hasTimer}}
        <div class="progress-bar">
          <div class="progress">
            <div class="bar neutral" style={{percentageExpectedFixed}}>
            </div>
          </div>
        </div>
        {{/if}}
      </div>
    {{/if}}
  </div>
</div>
