{{#each seqs as |seq|}}
  <div class="word">
    {{seq.text}}
  </div>
{{/each}}

{{#each meanings as |meaning|}}
  <div class="info">
    <div class="labels">
      {{label-diff newLabelIds=meaning.labels originalLabelIds=meaning.original.labels}}
    </div>
    <div class="definition">
      <div class="def">
        <span class="pos">
          ({{meaning.original.pos}})
        </span>
        {{diff-text meaning.original.def meaning.def}}
      </div>
    </div>
    {{#if meaning.example}}
    <div class="quoteWrap">
      <div class="quote highlight">
        <span class="quotemark"> “ </span>
          {{diff-text meaning.original.example meaning.example}}
        <span class="quotemark"> ” </span>
      </div>
    </div>
    {{/if}}
  </div>
{{/each}}
