<div class="search">
  <div class='searchbar wrap left'>
    {{search-field value=searchTerm placeholder="Search" aria-haspopup=showSearchList aria-autocomplete="list" autofocus="autofocus" title="Search for word" name="search-input"}}
    {{#if loaded}}
      <span class="ion-close-circled right" {{action 'clear'}}></span>
    {{else}}
      <span class="loading right"></span>
    {{/if}}
  </div>
  {{#if showSearchList}}
    <div class="wordListWrapper">
      <ul class='wordList'>
        {{#each word in wordList}}
          {{#search-result word=word selectedWord=selectedWord name="search-result-word"}}
            <div {{action "clickWord" word}} tabIndex=0>
              {{word}}
            </div>
          {{/search-result}}
        {{else}}
          <li class="no-results">
            <div {{action "clickNewWord"}}>
              No results found. Add word?
            </div>
          </li>
        {{/each}}
      </ul>
    </div>
  {{/if}}
</div>
