<div class="search">
  <div class='searchbar'>
    {{search-field value=searchTerm placeholder="Search" aria-haspopup=showSearchList aria-autocomplete="list" autofocus="autofocus" title="Search for word" autocapitalize="off" required="required"}}
    {{#if loaded}}
      <span title="Cancel search" class="ion-close-circled" {{action 'clear'}}></span>
    {{else}}
      <span class="loading"></span>
    {{/if}}
  </div>
  {{#if showSearchList}}
    <div class="wordListWrapper">
      <ul class='wordList'>
        {{#if wordCount}}
          {{#each wordList as |word|}}
            {{#search-result word=word selectedWord=selectedWord name="search-result-word"}}
              <div {{action "clickWord" word}} tabIndex=0>
                {{word}}
              </div>
            {{/search-result}}
          {{/each}}
          {{#if noExactWord}}
            <li class="no-exact-result">
              <div {{action "clickNewWord"}}>
                Add word?
              </div>
            </li>
          {{/if}}
        {{else}}
          <li class="no-results">
            <div {{action "clickNewWord"}}>
              No results found. Add word?
            </div>
          </li>
        {{/if}}
      </ul>
    </div>
  {{/if}}
</div>
