{{#if displayEdit}}
  <div class="editableArea">
    {{input value=field}}
    <label>Reason for change</label>
    {{textarea value=reason}}
    <button class="submitSuggestion" {{action "submitSuggestion"}}>Suggest</button>
    <button class="negative" {{action "cancel"}}>Cancel</button>
  </div>
{{else}}
  {{yield}}
  {{#if canEdit}}
    {{edit-button action='editMode'}}
  {{else}}
    {{locked-icon}}
  {{/if}}
{{/if}}
