<div class="addMeaning">
  <div class="word">
    {{model.wordName}}
  </div>
  {{#each errors.messages as |error|}}
    <div class="error">
      {{error}}
    </div>
  {{/each}}
  {{#each model.meanings as |meaning|}}
    <label>
      Part of speech
      {{view "select" content=posList value=meaning.pos}}
    </label>
    {{meaning-edit model=meaning showButtons=false useLabelIds=true lang=model.lang}}
  {{/each}}
  <button class="submitProposal" disabled={{isInvalid}} {{action "submitEdit"}}>Submit Edit</button>
  <button class="negative" {{action "cancelEdit"}}>Cancel</button>
</div>
