<div class="addMeaning">
  {{#each error in errors.messages}}
    <div class="error">
      {{error}}
    </div>
  {{/each}}
  <button class="submitProposal" {{bind-attr disabled=isInvalid}} {{action "submitEdit"}}>Submit Edit</button>
  <!-- <button class="flag" {{action "withdrawProposal"}}>Withdraw</button> -->

  {{meaning-edit model=model}}

  <button class="negative" {{action "cancelEdit"}}>Cancel</button>
</div>
