<div class="addMeaning">
  <div class="word">
    {{model.wordName}}
  </div>
  {{#each error in errors.messages}}
    <div class="error">
      {{error}}
    </div>
  {{/each}}
  {{#each meaning in model.meanings}}
    <label>
      Part of speech
      {{view "select" content=posList value=meaning.pos}}
    </label>
    {{meaning-edit model=meaning showButtons=false useLabelIds=true lang=model.lang}}
  {{/each}}
  <button class="submitProposal" {{bind-attr disabled=isInvalid}} {{action "submitEdit"}}>Submit Edit</button>
  <button class="negative" {{action "cancelEdit"}}>Cancel</button>
</div>
