<div class="addMeaning">
  <div class="word">
    {{model.wordName}}
  </div>
  {{#each error in errors.messages}}
    <div class="error">
      {{error}}
    </div>
  {{/each}}
  {{#each meaning in model.meanings}}
    <label>
      Part of speech
      {{view "select" content=posList value=meaning.pos}}
    </label>
    <label>
      Definition
      {{validated-textarea value=meaning.def errors=errors.def}}
    </label>
    <label class="edit-example">
      Example sentence
      <p>Note: no quotemarks are necessary.</p>
      {{validated-textarea value=meaning.example errors=errors.example}}
    </label>
    <label>
      Reason and sources
      {{textarea value=meaning.reason}}
    </label>
  {{/each}}
  <button class="submitProposal" {{bind-attr disabled=isInvalid}} {{action "submitEdit"}}>Submit Edit</button>
  <button class="negative" {{action "cancelEdit"}}>Cancel</button>
</div>
