<div class="word">
  {{#link-to "word.index" model.word}}
    {{model.wordName}}
  {{/link-to}}
</div>
<div class="pos">
  {{model.original.pos}}
</div>


{{#if isEditing}}
  {{partial "proposal/edit-meaning-change-form"}}
{{else}}
  <div class="info">
    <div class="definition">
      <div class="def">
        {{diff-text model.original.def def}}
      </div>
    </div>
    <div class="quoteWrap">
      <div class="quote highlight">
        <span class="quotemark"> “ </span>
          {{diff-text model.original.example model.example}}
        <span class="quotemark"> ” </span>
      </div>
    </div>
  </div>
{{/if}}
