<div class="pos">
  {{model.pos}}
</div>

{{label-diff originalLabels=originalLabels newLabels=labels}}

<div class="info">
  <div class="definition">
    <div class="def">
      {{model.def}}
    </div>
  </div>
  <div class="quoteWrap">
    <div class="quote highlight">
      <span class="quotemark"> “ </span>
      {{model.example}}
      <span class="quotemark"> ” </span>
    </div>
  </div>
  <div class="reason">
    Source for this meaning:
    {{model.reason}}
  </div>
</div>
