<div class="word">
  {{#link-to "seq.wordset.index" model.lang.id model.wordName}}
    {{model.wordName}}
  {{/link-to}}
</div>

{{#if isEditing}}
  {{partial "proposal/edit-new-meaning-form"}}
{{else}}
  <div class="pos">
    {{model.pos}}
  </div>
  <div class="meaning-labels">
    {{#each label in model.labels}}
      <div {{bind-attr class=":label label.isDialect:dialect:nondialect"}}>{{label.name}}</div>
    {{/each}}
  </div>
  <div class="info">
    <div class="definition">
      <ins class="def">
        {{model.def}}
      </ins>
    </div>
    <div class="quoteWrap">
      <ins class="quote highlight">
        <span class="quotemark"> “ </span>
        {{model.example}}
        <span class="quotemark"> ” </span>
      </ins>
    </div>
  </div>
{{/if}}

{{#if model.original.meanings}}
<h3>Existing Meanings</h3>
<ol>
  {{#each meaning in model.original.meanings}}
    <li>
      <div class="info">
        <div class="definition">
          <div class="def">
            {{meaning.def}}
          </div>
        </div>
        {{#if meaning.example}}
        <div class="quoteWrap">
          <div class="quote highlight">
            <span class="quotemark"> “ </span>
            {{meaning.example}}
            <span class="quotemark"> ” </span>
          </div>
        </div>
        {{/if}}
      </div>
    </li>
  {{/each}}
</ol>
{{/if}}
