<h4>Vote</h4>
{{#if isOpen}}
  {{#if currentUser}}
    {{#if myVote}}
      <p>You've already voted.</p>
    {{else}}
      <div class="new-vote">
        <button {{action "voteYae"}}><span class="ion-thumbsup"></span>Yae</button>
        <button {{action "voteNay"}} class="negative"><span class="ion-thumbsdown"></span>Nay</button>
        <button {{action "voteFlag"}} class="flag"><span class="ion-flag"></span>Flag</button>
      </div>
      <div class="comment-box">
        <div>Comment</div>
        {{textarea value=comment}}
      </div>
    {{/if}}
  {{else}}
    <p>{{#link-to user.new}}Sign up to vote.{{/link-to}}</p>
  {{/if}}
{{else}}
<p>Voting is closed.</p>
{{/if}}

<h4>Voting History</h4>
{{#if firstObject}}
  <div class="title">
    <div class="name">Name</div>
    <div class="value">Vote</div>
    <div class="comment">Comment</div>
  </div>
  {{#each vote in model}}
    <div {{bind-attr class=":vote vote.yae:yae:nay"}}>
      <div class="name">
        {{vote.user.id}}
      </div>
      <div class="value">
        {{vote.value}}
      </div>
      <div class="comment">
        {{vote.comment}}
      </div>
    </div>
  {{/each}}
{{else}}
  <p>No votes yet.</p>
{{/if}}
