<h4>Vote</h4>
{{#if isOpen}}
  {{#if currentUser}}
    {{#if myVote}}
      <p>Thanks for your vote. You can <span class="withdraw-vote" {{action "withdrawVote"}}>withdraw your vote</span> if necessary.</p>
      {{#link-to "proposals.random" class="next-proposal"}}Next Open Proposal<span class="ion-ios-arrow-forward"></span>{{/link-to}}
    {{else}}
      <div class="new-vote">
        <button {{action "voteYae"}} class="yae"><span class="ion-thumbsup"></span>Yae</button>
        <button {{action "voteNay"}} class="nay negative"><span class="ion-thumbsdown"></span>Nay</button>
        <button {{action "voteFlag"}} class="flag"><span class="ion-flag"></span>Flag</button>
      </div>
    {{/if}}
  {{else}}
    <p>{{#link-to "users.new"}}Sign up to vote.{{/link-to}}</p>
  {{/if}}
{{else}}
  <p>
    Voting is closed.
  </p>
  {{#if currentUser}}
    {{#link-to "proposals.random" class="next-proposal"}}Next Open Proposal<span class="ion-ios-arrow-forward"></span>{{/link-to}}
  {{/if}}

{{/if}}
