<div class="activity {{if isYae 'yae' 'nay' }} {{if isWithdrawn 'is-withdrawn'}}">
  {{activity.userId}}
  voted
  <span class="value">
    {{#if isYae}}
      yae
    {{else}}
      nay
    {{/if}}
    ({{activity.voteValue}})
  </span>

  <div class="comment">
    {{activity.comment}}
  </div>
</div>
