<h4>Vote</h4>
{{#if isOpen}}
  {{#if currentUser}}
    {{#if myVote}}
      <div class="action-bar">
        <button {{action "randomProposal"}} class="skip">Next</button>
        <button {{action "withdrawVote"}} class='negative'>Withdraw</button>
      </div>
    {{else}}
      <div class="action-bar">
        {{#if proposal.isRemoval}}
          <button {{action "registerVote" "yea"}} class="yae"><span class="ion-thumbsup"></span>Delete</button>
          <button {{action "registerVote" "nay"}} class="nay negative"><span class="ion-android-hand"></span>Keep</button>
        {{else}}
          <button {{action "registerVote" "yea"}} class="yae"><span class="ion-thumbsup"></span>Yea</button>
          <button {{action "registerVote" "nay"}} class="nay negative"><span class="ion-android-hand"></span>Nay</button>
        {{/if}}
        <button {{action "registerVote" "skip"}} class="skip"><span class="ion-ios-fastforward"></span>Skip</button>
        <button {{action "registerVote" "flag"}} class="flag"><span class="ion-flag"></span>Flag</button>
      </div>
    {{/if}}
  {{else}}
    <p>{{#link-to "users.new"}}Register to vote.{{/link-to}}</p>
  {{/if}}
{{else}}
  <div class="action-bar">
    <button {{action "randomProposal"}} class="skip next">See another open proposal</button>
  </div>
{{/if}}
