<h4>Vote</h4>
{{#if isOpen}}
  {{#if currentUser}}
    {{#if myVote}}
      <div class="action-bar">
        <button {{action "randomProposal"}} class="skip">Next</button>
        <button {{action "withdrawVote"}} class='negative'>Withdraw</button>
      </div>
    {{else}}
      <div {{bind-attr class=":action-bar justVoted"}}>
        <button {{action "registerVote" "yea"}} class="yae"><span class="ion-thumbsup"></span>Yea</button>
        <button {{action "registerVote" "nay"}} class="nay negative"><span class="ion-android-hand"></span>Nay</button>
        <button {{action "registerVote" "skip"}} class="skip"><span class="ion-ios-fastforward"></span>Skip</button>
        <button {{action "registerVote" "flag"}} class="flag"><span class="ion-flag"></span></button>
      </div>
    {{/if}}
  {{else}}
    <p>{{#link-to "users.new"}}Sign up to vote.{{/link-to}}</p>
  {{/if}}
{{else}}
  {{#if currentUser}}
    <div class="action-bar">
      <button {{action "randomProposal"}} class="skip">Next</button>
    </div>
  {{/if}}
{{/if}}
