<div {{bind-attr class=":activity isYae:yae:nay"}}>
  {{activity.userId}}
  voted
  <span class="value">
    {{#if isYae}}
      yae
    {{else}}
      nay
    {{/if}}
    ({{activity.voteValue}})
  </span>

  <div class="comment">
    {{activity.comment}}
  </div>
</div>
