<h4>Vote</h4>
{{#if isOpen}}
  {{#if currentUser}}
    {{#if myVote}}
      <p>Thanks for your vote.</p>
      <button class="nextProposal">
        {{#link-to "proposals.random"}}Next Open Proposal<span class="ion-ios-arrow-forward"></span>{{/link-to}}
      </button>
    {{else}}
      <div class="new-vote">
        <button {{action "voteYae"}}><span class="ion-thumbsup"></span>Yae</button>
        <button {{action "voteNay"}} class="negative"><span class="ion-thumbsdown"></span>Nay</button>
        <button {{action "voteFlag"}} class="flag"><span class="ion-flag"></span>Flag</button>
      </div>
    {{/if}}
  {{else}}
    <p>{{#link-to "users.new"}}Sign up to vote.{{/link-to}}</p>
  {{/if}}
{{else}}
<p>
  Voting is closed.
  {{#if currentUser}}
  <button class="nextProposal">
    {{#link-to "proposals.random"}}Next Open Proposal<span class="ion-ios-arrow-forward"></span>{{/link-to}}
  </button>
  {{/if}}
</p>
{{/if}}
