<div class="wrapper">
  <h1>Add a new word</h1>
  <p>If you are unsure of how to format your new definition,
    please check out our
    {{#link-to "info.guidelines"}}guidelines{{/link-to}}.</p>
  <div class="newWord">
    <label>
      Word
      {{#validated-input value=model.wordName errors=errors.wordName}}
        {{#if model.wordId}}
          {{link-to "Check it out" "word.index" model.wordId}}
        {{/if}}
        {{#if model.proposalId}}
          {{link-to "Check it out" "proposal.index" model.proposalId}}
        {{/if}}
      {{/validated-input}}
    </label>

    {{#each meaning in model.meanings}}
      <div class="submeaning">
        {{render "words/new_word_submeaning" meaning}}
        {{#if canRemove}}
          <a {{action "removeMeaning" meaning}}>Remove Meaning</a>
        {{/if}}
      </div>
    {{/each}}

    <button class="addNewMeaning" {{action "addMeaning"}}>Add New Meaning</button>

    <div>
      <button class="submitProposal" {{bind-attr disabled=isInvalid}} {{action "submitProposal"}}>Suggest</button>
      <button class="negative" {{action "cancel"}}>Cancel</button>
    </div>
  </div>
</div>
