<div class="wrapper">
  <h1>Add a new word</h1>
  <p>If you are unsure of how to format your new definition,
    please check out our
    {{#link-to "guidelines"}}guidelines{{/link-to}}.</p>
  <div class="newWord">
    <label>
      Word
      {{input value=name}}
    </label>
    <label>
      Part of speech
      {{view "select" content=posList value=pos}}
    </label>
    <label>
      Definition
      {{inline-errors errors=errors.def}}
      {{textarea value=def}}
    </label>
    <label>
      Example sentence
      {{inline-errors errors=errors.example}}
      {{textarea value=example}}
    </label>
    <label>
      Sources
      <p>This is a pretty critical part of proposing a new word be
        added. Please, please checkout the {{#link-to "guidelines"}}guidelines{{/link-to}}.
        We will reject improperly sourced word submissions!</p>
      {{inline-errors errors=errors.reason}}
      {{textarea value=reason}}
    </label>
    <button class="submitProposal" {{action "submitProposal"}}>Suggest</button>
    <button class="negative" {{action "cancel"}}>Cancel</button>
  </div>
</div>
