<div class="wrapper">
  <h1>Add a new word</h1>
  <p>If you are unsure of how to format your new definition,
    please check out our
    {{#link-to "guidelines"}}guidelines{{/link-to}}.</p>
  <div class="newWord">
    <label>
      Word
      {{input value=model.wordName}}
    </label>

    {{#each meaning in model.meanings}}
      {{render "words/new_word_submeaning" meaning}}
      {{#if canRemove}}
        <a {{action "removeMeaning" meaning}}>Remove Meaning</a>
      {{/if}}
    {{/each}}

    <a {{action "addMeaning"}}>Add New Meaning</a>

    <button class="submitProposal" {{action "submitProposal"}}>Suggest</button>
    <button class="negative" {{action "cancel"}}>Cancel</button>
  </div>
</div>
