<div class="wrapper">
  <h1>Add a new word</h1>
  <p>If you are unsure of how to format your new definition,
    please check out our
    {{#link-to "info.guidelines"}}guidelines{{/link-to}}.</p>
  <div class="newWord">
    <label>
      Word
      <br/>

      {{#validated-input value=model.wordName errors=errors.model.wordName}}
        {{#if wordId}}
          – {{link-to "check it out." "word.index" model.wordId}}
        {{/if}}
        {{#if proposalId}}
          – {{link-to "check it out." "proposal.index" model.proposalId}}
        {{/if}}
      {{/validated-input}}
    </label>

    {{#each meaning in model.meanings}}
      <div class="submeaning">
        {{render "words/new_word_submeaning" meaning}}
        {{#if canRemove}}
          <a {{action "removeMeaning" meaning}}>Remove Meaning</a>
        {{/if}}
      </div>
    {{/each}}

    <div>
      <button class="submitProposal" {{bind-attr disabled=isInvalid}} {{action "submitProposal"}}>Suggest</button>
      <button class="add-new-meaning" {{action "addMeaning"}}>
        <span class="ion-plus"></span>
        Add New Meaning
      </button>
    </div>
  </div>
</div>
