<label>
  Part of speech
  {{view "select" content=posList value=pos}}
</label>
<label>
  Definition
  {{validated-textarea value=def errors=errors.def}}
</label>
<label>
  Example sentence
  {{validated-textarea value=example errors=errors.example}}
</label>
<label>
  Sources
  <p>This is a pretty critical part of proposing a new word be
    added. Please, please checkout the {{#link-to "info.guidelines"}}guidelines{{/link-to}}.
    We will reject improperly-sourced word submissions!</p>
  {{inline-errors errors=errors.reason}}
  {{textarea value=reason}}
</label>
