<label>
  Part of speech
  {{select-tag content=parentController.posList value=model.pos}}
</label>
<label>
  Definition
  {{validated-textarea value=model.def errors=errors.model.def}}
</label>
<label class="edit-example">
  Example sentence
  {{validated-textarea value=model.example errors=errors.model.example placeholder="No example sentence! Please add one."}}
</label>
{{label-selection labels=lang.labels selectedLabels=model.label_ids useId=true}}
<label>
  Sources
  <p>This is a pretty critical part of proposing a new word be
    added. Please, please checkout the {{#link-to "info.guidelines"}}guidelines{{/link-to}}.
    We will reject improperly-sourced word submissions!</p>
  {{validated-textarea value=model.reason errors=errors.model.reason}}
</label>
