<div class="project-heading">
  <div class="title">
    <h2>{{model.project.name}}</h2>
    <span>({{#link-to "project.index" model.project}}More Info{{/link-to}})</span>
  </div>
  <div class="progress-numbers">
    <span class="metric">Total To-dos:</span> {{model.project.totalTargetsCount}}
    <span class="metric">Open Proposals:</span> {{model.project.pendingTargetsCount}}
    <span class="metric">Fixed To-dos:</span> {{model.project.fixedTargetsCount}}
    <div class="progress-bar">
      <div class="progress">
        <div class="bar positive" {{bind-attr style="model.project.percentageThrough"}}>
        </div>
      </div>
    </div>
  </div>
</div>
