{{project-info project=model link=false}}
<div class="wrapper project-index">
  <h2>{{name}}</h2>
  <p>Goal: <strong>{{description}}</strong></p>
  <p>We're starting to implement projects on our site. These are self-contained groups of improvements we want to make to Wordset.</p>
  <p>Our first major project is to remove proper nouns from Wordset. We believe that our dictionary should be about definitions, not reference. A dictionary is not the place to gather in-depth information about a person or place. That's what an encyclopedia is for.</p>

  <p>Total proper nouns in Wordset: <span class="progress-numbers">{{totalTargetsCount}}</span></p>
  <p>Number of open proposals: <span class="progress-numbers">{{pendingTargetsCount}}</span></p>
  <p>Number fixed: <span class="progress-numbers">{{fixedTargetsCount}}</span></p>

  {{#if currentUser}}
    <button {{action "randomProposal"}}>Help Out!</button>
  {{else}}
    <button {{action "signUp"}}>Help Out!</button>
  {{/if}}
</div>
