<div class="wrapper project-index">
  <div class="badge">
    <img src="/assets/images/badges/projects/{{model.id}}.png" title="{{model.description}}" alt="{{model.description}}">
  </div>

  <h1>{{model.name}}</h1>

  <p>Status: <span class="state">{{model.state}}</span></p>
  <p>Goal: <strong>{{model.description}}</strong></p>

  {{htmlDescription}}

  <div class="progress-numbers">
    <span class="metric">Total:</span> {{model.totalTargetsCount}}
    <span class="metric">Pending:</span> {{model.pendingTargetsCount}}
    <span class="metric">Fixed:</span> {{model.fixedTargetsCount}}
    <div class="progress-bar">
      <div class="progress">
        <div class="bar positive" {{bind-attr style="model.percentageThrough"}}>
        </div>
      </div>
    </div>
  </div>

  {{#if isComplete}}
  {{else}}
    {{#if currentUser}}
      <button {{action projectAction}}>Help Out!</button>
    {{else}}
      <button {{action "signUp"}}>Help Out!</button>
    {{/if}}
  {{/if}}
</div>
