{{project-info project=model link=false}}
<div class="wrapper project-index">
  <h2>{{model.name}}</h2>
  <p>Goal: <strong>{{model.description}}</strong></p>

  {{htmlDescription}}

  <p>Total targets in Wordset: <span class='progress-numbers'>{{model.totalTargetsCount}}</span></p>
  <p>Number of open proposals: <span class='progress-numbers'>{{model.pendingTargetsCount}}</span></p>
  <p>Number fixed: <span class='progress-numbers'>{{model.fixedTargetsCount}}</span></p>

  {{#if currentUser}}
    <button {{action projectAction}}>Help Out!</button>
  {{else}}
    <button {{action "signUp"}}>Help Out!</button>
  {{/if}}
</div>
