<div class="wrapper project-index">
  <div class="badge">
    <img src="/assets/images/badges/projects/{{model.id}}.png" title="{{model.description}}" alt="{{model.description}}">
  </div>

  <h1>{{model.name}}</h1>

  <p>Status: <span class="state">{{model.state}}</span></p>
  <p>Goal: <strong>{{model.description}}</strong></p>

  {{htmlDescription}}

  {{#if model.hasTimer}}
  <div class="remaining">
    Project Ends In:
    {{#if lessThanOneDay}}
      {{hoursRemaining}} hrs, {{minutesRemaining}} mins, {{secondsRemaining}}s
    {{else}}
      {{daysRemaining}} days, {{hoursRemaining}} hrs, {{minutesRemaining}} mins
    {{/if}}
  </div>
  {{/if}}

  <div class="progress-numbers">
    {{#if isIncomplete}}
      <div class="prog-num">
        <span class="metric">Total:</span>
         {{project.totalTargetsCount}}
      </div>
      <div class="prog-num">
        <span class="metric">Pending:</span> {{project.pendingTargetsCount}}
      </div>
    {{/if}}
    <div class="prog-num">
      <span class="metric">Fixed:</span>
      {{project.fixedTargetsCount}}
    </div>
    {{#if isIncomplete}}
      {{#if project.hasTimer}}
      <div class="prog-num {{if differenceIsNegative 'negative' 'positive'}}">
        <span class="metric">Difference:</span>
        {{differenceFromExpected}}
      </div>
      {{/if}}
    {{/if}}
    {{#if isIncomplete}}
    <div class="progress-bar">
      <div class="progress">
        <div class="bar positive" style={{model.percentageThrough}}>
        </div>
      </div>
    </div>
    {{/if}}
    {{#if model.hasTimer}}
    <div class="progress-bar">
      <div class="progress">
        <div class="bar neutral" style={{percentageExpectedFixed}}>
        </div>
      </div>
    </div>
    {{/if}}
  </div>

  {{#if isComplete}}
  {{else}}
    {{#if canHelpOut}}
    {{else}}
      {{#if currentUser}}
        <button {{action projectAction}}>Help Out!</button>
      {{else}}
        <button {{action "signUp"}}>Help Out!</button>
      {{/if}}
    {{/if}}
  {{/if}}
</div>
