<div class="wrapper project">
  {{project-info project=project progress=true}}

  {{#if proposal}}
    {{edit-interface changes=proposal.changes reason=proposal.reason lang=proposal.lang}}
    <button class="submitProposal positive" {{action "submitProposal"}}>Suggest</button>
    <button class="negative" {{action "randomTarget"}}>Skip</button>

    <div class="rules">
      {{htmlRules}}
    </div>
  {{/if}}
</div>
