<div class="project">
  <div class="heading">
    <div class="title">
      <h2>{{model.project.name}}</h2>
      <span>({{#link-to "project.index" model.project}}More Info{{/link-to}})</span>
    </div>
    <div class="progress-bar-title">Progress:</div>
    <div class="progress-bar">
      <div class="progress">
        <div class="bar positive" {{bind-attr style="model.project.percentageThrough"}}>
          <div class="numbers">
            <div class="current">{{model.project.percentageComplete}}%</div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="rules">
    <h3> Rules </h3>
    <p>This change is for the removal of paranthetical statements. Keep the information from the parantheses, but include it in the definition.</p>
    <p><strong>Always read the sentence through.</strong> Make it flow. Examples of specific types of parantheticals we have noticed follow.</p>
    <ul>
      <li>
        <strong>(academic terminology)</strong>
        "(academic terminology)" should become "in academia, "
      </li>
      <li>
        <strong>(type)</strong>
        "(type)" should become "especially for type" or "in particular type"
      </li>
      <li>
        <strong>(1900-1950)</strong>
        "Musician (1900-1950)" should become "Musician, 1900-1950."
      </li>
      <li>
        <strong>(slang)</strong>
        "(slang)" should become "slang for"
      </li>
    </ul>
  </div>
  <div class="project-proposal">
    <div class="word">{{word.id}}</div>
    <div class="pos">{{meaning.entry.pos}}</div>
    <div class="meaning">
      <div class="defWrap">
        <div class="def">
          {{meaning.def}}
        </div>
      </div> <!-- defWrap div -->

      {{#if meaning.example}}
      <div class="quoteWrap">
        <div class="quote">
          <span class="quotemark">“</span>
          {{meaning.example}}
          <span class="quotemark">”</span>
        </div>
      </div>
      {{/if}}
    </div> <!-- meaning div -->
    <div class="editDefinition">
      <label>
        Edit definition of word
        {{validated-textarea value=model.def errors=errors.model.def}}
      </label>
      <label>
        Edit example sentence
        <p>Note: no quotemarks are necessary.</p>
        <!-- Ember doesn't allow area-required="true" to be
        set on this textarea (see here: http://emberjs.com/guides/templates/input-helpers/)-->
        {{validated-textarea value=model.example errors=errors.model.example}}
      </label>
      <button class="submitProposal" {{bind-attr disabled=isInvalid}} {{action "submitProposal"}}>Suggest</button>
    </div>
  </div>
</div>
