<form {{submit "authenticate"}}>
  <div class="sign-module">
    <h3> Sign In </h3>
    {{#link-to "auth.oauth_login" "facebook" class="fb auth"}}
      <span class="ion-social-facebook"></span>
      Facebook Login
    {{/link-to}}
    {{#link-to "auth.oauth_login" "github" class="gh auth"}}
      <span class="ion-social-github"></span>
      GitHub Login
    {{/link-to}}
    {{#link-to "auth.oauth_login" "google_oauth2" class="google auth"}}
      <span class="ion-social-google"></span>
      Google Login
    {{/link-to}}
    <div class="separator"></div>
    {{#if errorMessage}}
      <div class="login-error">
        <span class="ion-android-alert"></span>
        {{errorMessage}}
      </div>
    {{/if}}
    <div class="username">
      <label> Username
      {{input value=identification name="username" type="text" autofocus="autofocus"}}
      </label>
    </div>
    <div class="password">
      <label> Password
      {{input type="password" name="password" value=password}}
      </label>
    </div>
    <button class="positive" {{action "authenticate"}}> Sign In </button>

    <div class="aside">
      Don't have an account? Register {{#link-to 'users.new'}}here{{/link-to}}.
      Or, if you forgot your password, we can {{#link-to 'users.forgot-password'}}reset it{{/link-to}}.
    </div>
  </div>
</form>
