<form {{submit "register"}}>
  <div class="sign-module">
    <h3>Register</h3>
    {{#link-to "auth.oauth_login" "facebook" class="fb auth"}}
      <span class="ion-social-facebook"></span>
      Facebook Login
    {{/link-to}}
    {{#link-to "auth.oauth_login" "github" class="gh auth"}}
      <span class="ion-social-github"></span>
      GitHub Login
    {{/link-to}}
    {{#link-to "auth.oauth_login" "google_oauth2" class="google auth"}}
      <span class="ion-social-google"></span>
      Google Login
    {{/link-to}}
    <div class="separator"></div>
    <div class="username">
      <label>Username
      {{#if errors.username}}
        <div class="error">Username is already taken! Try {{#link-to 'users.login'}} signing in{{/link-to}}.</div>
      {{/if}}
      {{validated-input type="text" autofocus="autofocus" value=model.id errors=errors.model.id}}
      </label>
    </div>
    <div class="email">
      <label>E-mail
      {{#if errors.email}}
        <div class="error">E-mail is already taken! Try {{#link-to 'users.login'}} signing in{{/link-to}}.</div>
      {{/if}}
      {{validated-input type="email" value=model.email errors=errors.model.email}}
      </label>
    </div>
    <div class="password">
      <label>Password
      {{validated-input type="password" value=model.password errors=errors.model.password}}
      </label>
    </div>
    <div class="password">
      <label> Confirm password
      {{validated-input type="password" value=model.passwordConfirmation errors=errors.model.passwordConfirmation}}
      </label>
    </div>
    {{partial "users/-tos-area"}}
    <button class="positive" disabled={{isInvalid}} {{action "register"}}>Register</button>

    <div class="aside">
      Already have an account? Sign in {{#link-to 'users.login'}} here {{/link-to}}.
    </div>
  </div>
</form>
