<form {{submit "register"}}>
  <div class="sign-module">
    <h3>Register</h3>
    <div class="username">
      <label>Username
      {{validated-input type="text" autofocus="autofocus" value=model.id errors=errors.model.id}}
      </label>
    </div>
    <div class="email">
      <label>E-mail
      {{validated-input type="email" value=model.email errors=errors.model.email}}
      </label>
    </div>
    <div class="password">
      <label>Password
      {{validated-input type="password" value=model.password errors=errors.model.password}}
      </label>
    </div>
    <div class="password">
      <label> Confirm password
      {{validated-input type="password" value=model.passwordConfirmation errors=errors.model.passwordConfirmation}}
      </label>
    </div>
    {{partial "users/-tos-area"}}
    <button  {{bind-attr disabled=isInvalid}} {{action "register"}}>Register</button>

    <div class="aside">
      Already have an account? Sign in {{#link-to 'users.login'}} here {{/link-to}}.
    </div>
  </div>
</form>
