<div class="message-settings">
  <div class="toggle-settings" {{action "toggleSettings"}}>
    <span class="ion-gear-b"></span>
  </div>
  <ul {{bind-attr class="showSettings"}}>
    <li>
      {{#if notificationsEnabled}}
        <span {{action "disableNotifications"}}>
          Disable Notifications
        </span>
      {{else}}
        <span {{action "enableNotifications"}}>
          Enable Notifications
        </span>
      {{/if}}
    </li>
  </ul>
</div>
<div class="online-users">
  <div class="toggle-users" {{action "toggleUsers"}}>
    <span class="ion-person"></span>
    {{onlineUsers.length}}
  </div>
  <ul {{bind-attr class="showUsers"}}>
    {{#each username in onlineUsers}}
      <li>{{#link-to "user.index" username}}{{username}}{{/link-to}}</li>
    {{/each}}
  </ul>
</div>

<div class='messages-content'>
  {{#view "message-list" controller=controller}}
    {{#each message in controller}}
      {{partial "panel/message" message}}
    {{/each}}
  {{/view}}

  <div class='new-message-area'>
    {{#if session.isAuthenticated}}
      <button {{action "submitMessage"}} {{bind-attr disabled=isInvalid}}>
        <span class="ion-chevron-right" />
      </button>
      {{multi-box value=text action="submitMessage" maxlength="255"}}
    {{else}}
      <div class="notice">
        To chat,
        {{link-to "register" "users.new"}} or
        {{link-to "sign in" "users.login"}}
        <br>
        &nbsp;
      </div>
    {{/if}}
  </div>
</div>
