<ul class="scoreboard">
  <li>
    <img {{bind-attr src="superior.imageUrl"}}/>
    <span class="username">{{superior.id}}</span>
    <span class="points">{{liquid-bind superior.points}}</span>
  </li>
  <li>
    <img {{bind-attr src="currentUser.imageUrl"}}/>
    <span class="username">{{currentUser.id}}</span>
    <span class="points">{{liquid-bind currentUser.points}}</span>
  </li>
  <li>
    <img {{bind-attr src="inferior.imageUrl"}}/>
    <span class="username">{{inferior.id}}</span>
    <span class="points">{{liquid-bind inferior.points}}</span>
  </li>
</ul>
