<div class="addMeaning">
  <h2>Add New Meaning</h2>
  <p><strong>NOTE!</strong> This form is only if the new
    meaning is an <em>entirely new meaning</em>.
    If you simply want to expand or extend one of the existing
    meanings, please hover over the meaning and click the
    edit button that appears!</p>
  <p>Meanings that are already covered (even badly) by an
    existing meaning will be rejected.</p>

  {{#each errors.messages as |error|}}
    <div class="error">
      {{error}}
    </div>
  {{/each}}
  <label>
    Part of speech
    {{view "select" content=parentController.posList value=model.pos}}
  </label>
  <label>
    Definition
    {{validated-textarea value=model.def errors=errors.model.def}}
  </label>
  <label class="edit-example">
    Example sentence
    {{validated-textarea value=model.example errors=errors.model.example}}
  </label>

  {{label-selection labels=model.lang.labels selectedLabels=model.labels}}
  <label>
    Reason and sources
    {{textarea value=model.reason}}
  </label>
  <button class="submitProposal" {{bind-attr disabled=isInvalid}} {{action "submitProposal"}}>Suggest</button>
  <button class="negative" {{action "cancelShowAddMeaning"}}>Cancel</button>
</div>
