{{#link-to "proposal" proposal.id}}
  <div class="{{proposal.state}} item">
    <div class="sentence">
      <span class="user">
        {{#if proposal.user.id}}
          {{proposal.user.id}}
        {{else}}
          Wordnet automatically
        {{/if}}
      </span>
      proposed a
      <span class="action">
        {{proposal.typeName}}
      </span>
      <span class="state">
        ({{proposal.state}})
      </span>
      on {{formattedDate}}
    </div>
    <div class="progress-bar">
      <div class="progress">
        <div class="bar negative" style="{{proposal.negativeTally}}"></div>
        <div class="bar positive" style="{{proposal.positiveTally}}"></div>
      </div>
    </div>
  </div>
{{/link-to}}
