{{#link-to "proposal" model.id}}
  <div class="{{model.state}} item">
    <div class="sentence">
      <span class="user">
        {{#if model.user.id}}
          {{model.user.id}}
        {{else}}
          Wordnet automatically
        {{/if}}
      </span>
      made a change
      <span class="state">
        ({{model.state}})
      </span>
      on {{formattedDate}}
    </div>
    <div class="progress-bar">
      <div class="progress">
        <div class="bar negative" style="{{model.negativeTally}}"></div>
        <div class="bar positive" style="{{model.positiveTally}}"></div>
      </div>
    </div>
  </div>
{{/link-to}}
