<form {{submit "register"}}>
  <div class="sign-module">
    <h3>Register</h3>
    <div class="username">
      <label>Username
      {{validated-input type="text" autofocus="autofocus" value=id errors=errors.id}}
      </label>
    </div>
    <div class="email">
      <label>E-mail
      {{validated-input type="email" value=email errors=errors.email}}
      </label>
    </div>
    <div class="password">
      <label>Password
      {{validated-input type="password" value=password errors=errors.password}}
      </label>
    </div>
    <div class="password">
      <label> Confirm password
      {{validated-input type="password" value=passwordConfirmation errors=errors.passwordConfirmation}}
      </label>
    </div>
    <div class="tos">
      <label>
        {{input type="checkbox" checked=acceptTos}}
        I accept the {{#link-to "info.legal"}}terms and conditions{{/link-to}}.
      </label>
    </div>
    <button  {{bind-attr disabled=isInvalid}} {{action "register"}}>Register</button>

    <div class="aside">
      Already have an account? Sign in {{#link-to 'user.login'}} here {{/link-to}}.
    </div>
  </div>
</form>
