
<h3>Their Proposals</h3>

<div class="proposals">
{{#each proposal in model}}
  <div {{bind-attr class="proposal.state :item"}}>
    <div class="word">
      {{#link-to 'proposal' proposal}}
        {{proposal.wordName}}
      {{/link-to}}
    </div>
    <div class="action">
      {{proposal.typeName}}
    </div>
    <div class="state">
      {{proposal.state}}
    </div>
  </div>
{{else}}
  This User hasn't proposed anything yet.
{{/each}}
</div>
