<li>
  <div class="info" tabindex="0">
    {{#if displayEdit}}
     <div class="editDefinition" aria-live="polite">
        <label>
          Edit definition of word
          {{validated-textarea value=model.def errors=errors.def}}
        </label>
        <label>
          Edit example sentence
          <p>Note: no quotemarks are necessary.</p>
          <!-- Ember doesn't allow area-required="true" to be
          set on this textarea (see here: http://emberjs.com/guides/templates/input-helpers/)-->
          {{validated-textarea value=model.example errors=errors.example}}
        </label>
        <label>
          Reason for change
          {{textarea value=reason}}
        </label>
        <button class="submitProposal" {{bind-attr disabled=isInvalid}} {{action "submitProposal"}}>Suggest</button>
        <button class="negative" {{action "cancel"}}>Cancel</button>
      </div>
    {{else}}
      <div class="meaning">
        <div class="defWrap">
          <div class="def">
            {{meaning.def}}

            {{#if meaning.openProposal}}
              <div class="openProposal">
                <span class="ion-help-buoy"></span>
                This definition has an
                {{#link-to "proposal" meaning.openProposal}}
                 open proposal
                {{/link-to}}
                which we'd love your help with.
              </div>
            {{else}}
              {{#if session.isAuthenticated}}
                {{edit-button action="startEditing"}}
              {{/if}}
            {{/if}}
          </div>
        </div>

        {{#if meaning.example}}
        <div class="quoteWrap">
          <div class="quote">
            <span class="quotemark">“</span>
            {{meaning.example}}
            <span class="quotemark">”</span>
          </div>
        </div>
        {{/if}}

      </div>
    {{/if}}
  </div>
</li>
