<li>
  <div class="info" tabindex="0">
    <div class="meaning">
      <div class="defWrap">
        <div class="def">
          {{meaning.def}}
          {{#if displayEdit}}
          {{else}}
            {{#if meaning.openProposal}}
              <div class="openProposal">
                <span class="ion-help-buoy"></span>
                This definition has an
                {{#link-to "proposal" meaning.openProposal}}
                 open proposal
                {{/link-to}}
                which we'd love your help with.
              </div>
            {{else}}
              {{#if session.isAuthenticated}}
                {{edit-button action="startEditing"}}
              {{/if}}
            {{/if}}
          {{/if}}
        </div>
      </div> <!-- defWrap div -->

      {{#if meaning.example}}
      <div class="quoteWrap">
        <div class="quote">
          <span class="quotemark">“</span>
          {{meaning.example}}
          <span class="quotemark">”</span>
        </div>
      </div>
      {{/if}}
    </div> <!-- meaning div -->
    {{#if displayEdit}}
      <div {{bind-attr class=":editDefWrap displayEdit"}}>
        {{render "word/propose-meaning-change" meaningProposal}}
      </div>
    {{/if}}
  </div>
</li>
