<div class="addMeaning">

  {{#each error in errors.messages}}
    <div class="error">
      {{error}}
    </div>
  {{/each}}
  <label>
    Part of speech
    {{view "select" content=posList value=pos}}
  </label>
  <label>
    Definition
    {{validated-textarea value=def errors=errors.def}}
  </label>
  <label>
    Example sentence
    <p>Note: no quotemarks are necessary.</p>
    {{validated-textarea value=example errors=errors.example}}
  </label>
  <label>
    Reason and sources
    {{textarea value=reason}}
  </label>
  <button class="submitProposal" {{bind-attr disabled=isInvalid}} {{action "submitProposal"}}>Suggest</button>
  <button class="negative" {{action "cancel"}}>Cancel</button>
</div>
