<div class="addMeaning">
  <h2>Add New Meaning</h2>
  <p><strong>NOTE!</strong> This form is only if the new
    meaning is an <em>entirely new meaning</em>.
    If you simply want to expand or extend one of the existing
    meanings, please hover over the entry and click the
    edit button that appears!</p>
  <p>Meanings that are already covered (even badly) by an
    existing meaning will be rejected.</p>

  {{#each error in errors.messages}}
    <div class="error">
      {{error}}
    </div>
  {{/each}}
  <label>
    Part of speech
    {{view "select" content=posList value=pos}}
  </label>
  <label>
    Definition
    {{validated-textarea value=def errors=errors.def}}
  </label>
  <label>
    Example sentence
    <p>Note: no quotemarks are necessary.</p>
    {{validated-textarea value=example errors=errors.example}}
  </label>
  <label>
    Reason and sources
    {{textarea value=reason}}
  </label>
  <button class="submitProposal" {{bind-attr disabled=isInvalid}} {{action "submitProposal"}}>Suggest</button>
  <button class="negative" {{action "cancelShowAddMeaning"}}>Cancel</button>
</div>
