<div class="editDefinition" aria-live="polite">
  <label>
    Edit definition of word
    {{validated-textarea value=model.def errors=errors.model.def}}
  </label>
  <label class="edit-example">
    Edit example sentence
    <p>Note: no quotemarks are necessary.</p>
    <!-- Ember doesn't allow area-required="true" to be
    set on this textarea (see here: http://emberjs.com/guides/templates/input-helpers/)-->
    {{validated-textarea value=model.example errors=errors.model.example}}
  </label>
  <label>
    Reason for change
    {{textarea value=model.reason}}
  </label>
  <button class="submitProposal" {{bind-attr disabled=isInvalid}} {{action "submitProposal"}}>Suggest</button>
  <!-- <button class="flag" {{action "proposeMeaningRemoval"}}>Remove Meaning</button> -->
  {{confirm-button action="model.proposeMeaningRemoval" text="Remove meaning" confirmText="Are you sure?"}}
  <button class="negative" {{action "cancel"}}>Cancel</button>
</div>
