<div class='messagesContent'>
  {{#view "message-list" controller=controller}}
    {{#each message in controller}}
      <li class='message'>
        <img {{bind-attr src="message.user.imageUrl"}} class="icon" />
        <div class="info">
          <div class='username'>
            {{message.user.id}}
          </div>
          <div class="text">
            {{markdown-to-html markdown=message.text}}
          </div>
        </div>
      </li>
    {{/each}}
  {{/view}}

  <div class='newMessageArea'>
    <button {{action "submitMessage"}} {{bind-attr disabled=isInvalid}}>
      <span class="ion-ios-paperplane-outline" />
    </button>
    {{validated-input value=text action="submitMessage"}}
  </div>
</div>
