<div class="online-users">
  <div class="toggle-users" {{action "toggleUsers"}}>
    <span class="ion-person"></span>
    {{onlineUsers.length}}
  </div>
  <ul {{bind-attr class="showUsers"}}>
    {{#each username in onlineUsers}}
      <li>{{#link-to "user.index" username}}{{username}}{{/link-to}}</li>
    {{/each}}
  </ul>
</div>

<div class='messages-content'>
  {{#view "message-list" controller=controller}}
    {{#each message in controller}}
      {{render "messages.item" message}}
    {{/each}}
  {{/view}}

  <div class='new-message-area'>
    {{#if session.isAuthenticated}}
      <button {{action "submitMessage"}} {{bind-attr disabled=isInvalid}}>
        <span class="ion-chevron-right" />
      </button>
      {{textarea value=text action="submitMessage"}}
    {{else}}
      <div class="notice">
        If you want to chat,<br/>
        {{link-to "Sign up" "users.new"}} or
        {{link-to "Log in" "users.login"}}
      </div>
    {{/if}}
  </div>
</div>
