
{{#if message.isLink}}
  <li class="message link" {{action "goToLink" message.url}}>
    <div class="link-image">
      <img {{bind-attr src="message.user.imageUrl"}} class="icon" />
      <span class="ion-forward"></span>
    </div>
    <div class="info">
      <div class="text">
        {{message.user.id}} shared a link {{time-ago-in-words message.createdAt}}
      </div>
    </div>
  </li>

{{else}}
  <li {{bind-attr class=":message isSelf"}}>
    <img {{bind-attr src="message.user.imageUrl"}} class="icon" />
    <div class="info">
      {{#if isSelf}}
        <div class='text'>
          {{message.user.id}}
          {{message.text}}
        </div>
      {{else}}
        <div class='username'>
          {{message.user.id}}
        </div>
        <div class="text">
          {{message.text}}
        </div>
        <div class="time">{{time-ago-in-words message.createdAt}}</div>

      {{/if}}
    </div>
  </li>
{{/if}}
