{{partial "menu"}}

<div class="main-content">

  {{#if notifications}}
    <div class="notifications-wrapper">
      {{#each notification in notifications}}
        {{notification-alert notification=notification}}
      {{/each}}
    </div>
  {{/if}}

  <header class="header">

    {{#link-to "index"}}
      <div class="logo"></div>
    {{/link-to}}

    {{search-bar}}

    <div class="togglers">

      <div class="toggler-chat">
        <a {{action 'togglePanel'}} class="panel-toggler" alt="Chat">
          <div {{bind-attr class="hasChatAlert :ion-android-chat showPanel"}}>
          <div class="icon-text">CHAT</div>
          </div>
        </a>
      </div>
      <div class="toggler-menu">
        <a {{action 'toggleMenu'}} class="nav-toggler" alt="Menu">
          <div class="ion-android-apps">
          <div class="icon-text">MENU</div>
          </div>
        </a>
      </div>
    </div>
  </header>

  {{#view "main-area"}}
    <aside {{bind-attr class=":panel showPanel:open:closed"}}>
      {{render "panel"}}
    </aside>
    <section {{bind-attr class=":content showPanel"}}>
      {{liquid-outlet}}
      <footer>
        <div class="footer-links">
          {{#link-to "info.faqs"}}FAQs{{/link-to}}
          {{#link-to "info.legal"}}Legal{{/link-to}}
          <a href="https://twitter.com/thewordset" target="_blank">Twitter</a>
          <a href="https://facebook.com/wordset" target="_blank">Facebook</a>
          <a href="https://github.com/wordset" target="_blank">GitHub</a>
        </div>
        <a href="http://creativecommons.org/licenses/by-sa/4.0/legalcode"><img src="assets/images/creative-commons.png" alt="Creative Commons Logo – NB SA"/></a>
      </footer>
    </section>

  {{/view}}

</div>
