{{partial "menu"}}

<div class="main-content">
  <div class="header">
    {{#link-to "index"}}
      <div class="logo"></div>
    {{/link-to}}

    {{render "search"}}

    <a {{action 'toggleMenu'}} class="nav-toggler" alt="Menu">
      <span class="ion-android-apps"></span>
    </a>
    <a {{action 'toggleChat'}} class="chat-toggler" alt="Chat">
      <span class="ion-android-chat"></span>
    </a>
  </div>

  {{flash-message}}

  <div class="mainArea">
    {{#if showChat}}
      <div class="messages">
        {{render "messages.index"}}
      </div>
    {{/if}}
    <div class="content">
      {{outlet}}
    </div>
  </div>
</div>
