{{partial "menu"}}

<div class="main-content">
  <div class="header">
    {{#link-to "index"}}
      <div class="logo"></div>
    {{/link-to}}
    <div class="search">
      <div class="searchBar">
        {{input type=text value=searchTerm placeholder="Search" autofocus="autofocus" title="Search for word"}}
        <span class="ion-close-circled" {{action 'clear'}}></span>
      </div>
      {{#if showSearchList}}
        <div class="wordListWrapper">
          <ul class="wordList">
            {{#each word in wordList.results}}
              <li>
                <a {{action 'clickWordFromList' word}} href="" tabindex="0">
                  {{word}}
                </a>
              </li>
            {{else}}
              <li>
                {{#link-to "words.new"}}
                  No results found. Add word?
                {{/link-to}}
              </li>
            {{/each}}
          </ul>
        </div>
      {{/if}}
    </div>
    <a {{action 'toggleMenu'}} class="nav-toggler" alt="Menu">
      <span class="ion-android-apps"></span>
    </a>
    <a {{action 'toggleChat'}} class="chat-toggler" alt="Chat">
      <span class="ion-android-chat"></span>
    </a>
  </div>

  {{flash-message}}

  <div class="mainArea">
    <div class="content">
      {{outlet}}
    </div>
    {{#if showChat}}
      <div class="messages">
        {{render "messages.index"}}
      </div>
    {{/if}}
  </div>

  <div class="footer">
    <div class="copyright">
      © 2015 – Made by&#160;
      <a href="http://teamrarebit.com" target="_blank">
        rarebit
      </a>
    </div>
  </div>
</div>
