{{partial "menu"}}

<div class="main-content">
  <div class="header">
    {{#link-to "index"}}
      <div class="logo"></div>
    {{/link-to}}

    {{render "search"}}

    <a {{action 'toggleMenu'}} class="nav-toggler" alt="Menu">
      <span class="ion-android-apps"></span>
    </a>
    <a {{action 'toggleChat'}} class="chat-toggler" alt="Chat">
      <span {{bind-attr class="hasChatAlert:ion-chatbox-working:ion-chatbox showChat"}}></span>
    </a>
  </div>

  {{flash-message}}

  {{#view "main-area"}}
    <div {{bind-attr class=":messages showChat:open:closed"}}>
      {{render "messages.index"}}
    </div>
    <div {{bind-attr class=":content showChat"}}>
      {{outlet}}
    </div>
  {{/view}}
</div>
