{{partial "menu"}}

<div class="main-content">

  {{#if notifications}}
    <div class="notifications-wrapper">
      {{#each notification in notifications}}
        {{notification-alert notification=notification}}
      {{/each}}
    </div>
  {{/if}}

  <header class="header">

    {{#link-to "index"}}
      <div class="logo"></div>
    {{/link-to}}

    {{search-bar}}

    <div class="togglers">

      <a {{action 'togglePanel'}} class="panel-toggler" alt="Chat">
        <span {{bind-attr class="hasChatAlert :ion-android-chat showPanel"}}></span>
        <!-- <span {{bind-attr class="hasChatAlert:ion-chatbox-working:ion-chatbox showPanel"}}></span> -->
      </a>
      <a {{action 'toggleMenu'}} class="nav-toggler" alt="Menu">
        <span class="ion-android-apps"></span>
      </a>
    </div>
  </header>

  {{#view "main-area"}}
    <aside {{bind-attr class=":panel showPanel:open:closed"}}>
      {{render "panel"}}
    </aside>
    <section {{bind-attr class=":content showPanel"}}>
      {{liquid-outlet}}
      <footer>
        <div class="footer-links">
          {{#link-to "info.faqs"}}FAQs{{/link-to}}
          {{#link-to "info.legal"}}Legal{{/link-to}}
          <a href="https://twitter.com/thewordset" target="_blank">Twitter</a>
          <a href="https://facebook.com/wordset" target="_blank">Facebook</a>
        </div>
        <a href="http://creativecommons.org/"><img src="assets/images/creative-commons.png" alt="Creative Commons Logo – NB SA"/></a>
      </footer>
    </section>

  {{/view}}
  
</div>
