{{partial "menu"}}

<div class="main-content">
  <div class="header">
    {{#link-to "index"}}
      <div class="logo"></div>
    {{/link-to}}
    {{render "search"}}
    <a {{action 'toggleChat'}} class="chat-toggler" alt="Chat">
      <span class="ion-android-chat"></span>
    </a>
    <a {{action 'toggleMenu'}} class="nav-toggler" alt="Menu">
      <span class="ion-android-apps"></span>
    </a>
  </div>

   {{flash-message}}

  <div class="content">
    {{outlet}}
  </div>
  {{#if showChat}}
    <div class="messages">
      {{render "messages.index"}}
    </div>
  {{/if}}

  <div class="footer">
    <div class="copyright">
      © 2015 – Made by&#160;
      <a href="http://teamrarebit.com" target="_blank">
        rarebit
      </a>
    </div>
  </div>
</div>
