{{partial "menu"}}

{{outlet 'modal'}}

<div class="main-content">

  {{#if notifications}}
    <div class="notifications-wrapper">
      {{#each notifications as |notification|}}
        {{notification-alert notification=notification}}
      {{/each}}
    </div>
  {{/if}}

  <header class="header">

    {{#link-to "index"}}
      <div class="logo"></div>
    {{/link-to}}

    {{search-bar}}

    <div class="togglers">

      <div class="toggler-chat">
        <a {{action 'togglePanel'}} class="panel-toggler">
          <span {{bind-attr class="hasChatAlert :ion-android-chat :toggler-icon showPanel"}}></span>
          <span class="icon-text">Chat</span>
        </a>
      </div>
      <div class="toggler-menu">
        <a {{action 'toggleMenu'}} class="nav-toggler">
          <span class="ion-android-apps toggler-icon"></span>
          <span class="icon-text">Menu</span>
        </a>
      </div>
    </div>
  </header>
  {{#if shouldShowBanner}}
    <div class="banner">
      This is a collaborative project.
      {{#link-to "users.new"}}Register{{/link-to}} or {{#link-to "users.login"}}sign in{{/link-to}} to take part!
    </div>
  {{/if}}


  <aside {{bind-attr class=":panel showPanel:open:closed"}}>
    {{render "panel"}}
  </aside>
  <section {{bind-attr class=":content showPanel"}}>
    {{liquid-outlet}}
    <footer>
      <div class="footer-links">
        {{#link-to "info.faqs"}}FAQs{{/link-to}}
        {{#link-to "info.legal"}}Legal{{/link-to}}
        <a href="https://twitter.com/thewordset" target="_blank">Twitter</a>
        <a href="https://facebook.com/wordset" target="_blank">Facebook</a>
        <a href="https://github.com/wordset" target="_blank">GitHub</a>
      </div>
      <a href="http://creativecommons.org/licenses/by-sa/4.0/legalcode"><img src="assets/images/creative-commons.png" alt="Creative Commons Logo – NB SA"/></a>
    </footer>
  </section>

  <script src="assets/ResizeSensor.js"></script>
  <script src="assets/ElementQueries.js"></script>
</div>
