<div class="two-column-wrapper home">

  <div class="wrapper-left">
    <h1>The Collaborative, Open Dictionary.</h1>

    <p>Wordset is the world's first structured dictionary that you can contribute to. Look up a word, propose an improvement, and have your change accepted into the dictionary.</p>

    <div class="links">
      {{#link-to "info.goals"}}
        <div class="ionicon ion-ios-star"></div>Project Goals{{/link-to}}
      {{#link-to "info.faqs"}}
        <div class="ionicon ion-asterisk"></div>FAQs {{/link-to}}
      {{#link-to "info.guidelines"}}
        <div class="ionicon ion-ios-paper"></div>Guidelines {{/link-to}}
    </div>

    {{#if activeProject}}
      <h2>Current Community Project</h2>
      <p>We set projects to focus on a specific area of improving the dictionary. At the moment, we're creating the world's first Gender Neutral Dictionary. Help us out!</p>
      {{project-info project=activeProject}}
    {{/if}}

    <h2>About Wordset</h2>

    <p>Wordset is a community of language lovers from around the world dedicated to building the best dictionary alive.</p>

    <p>Here are some key features of our dictionary:</p>
    <ul>
      <li><p>Wordset is updated continually and its easy to navigate structure was built to integrate seamlessly into an API for developers.</p></li>

      <li><p>With Wordset, all you have to do is register and start adding words or suggesting changes. You are up and running in a matter of moments.</p></li>

      <li><p>Wordset is designed so that every new word or change to an existing word goes through a proposal process. This ensures that our database will contain real words and be of use to real people. It also makes fixing mistakes a breeze.</p></li>

      <li><p>Wordset was built with support for multiple languages from day one. We launched with English because that is what we know best, but as soon as we have enough interested people, we will begin to launch other languages.</p></li>
    </ul>

    <p>We believe in communities working towards a shared goal of of making the world better. Freeing language from copyright and making the best dictionary possible for the most amount of people possible is this project’s small contribution to making the world a better place.</p>


    <p>We don’t want to be niche. On the contrary, our goal is to become <strong>the</strong> premiere online dictionary. To accomplish that, we need as many like-minded language lovers as we can find. So sign up, sign in, and help make Wordset the best dictionary alive!</p>

    <hr>
    <p>The idea for Wordset is the brainchild of co-founders Hampton and Michael Catlin, who build and maintain the site. Justin LeFurjah, Wordset’s first employee, takes care of content and community management.</p>

    <p>Wordsetters make the dictionary.</p>


    <h2><a name="more-posts">More Blog Posts</a></h2>
    <ul class="blog-posts">
      {{#each post in postsSimple}}
        <li>
          {{blog-post-byline post=post}}
        </li>
      {{/each}}
    </ul>

  </div>

  <div class="wrapper-right">
    {{#if postsSimple}}
      {{latest-blog-posts posts=topPostsSimple}}
    {{/if}}

    <button {{action "randomProposal"}} class="randomOpenProposal">Vote on a Proposal</button>

    <h2>Recent Activity</h2>
    <div class="recent-activity">
      {{render "dashboard/activities" activities}}
    </div>

  </div>

</div>
