{{#if showPanel}}
  <div class="tabs display-{{activeSubpanel}}">
    <div {{action "showSubpanel" "chat"}} class="chat"> Chat </div>
    <div {{action "showSubpanel" "alert"}} class="alert"> Alerts </div>
  </div>
  <div class="subpanels display-{{activeSubpanel}}">
    <div class="subpanel chat">
      {{render "panel.messages"}}
    </div>
    <div class="subpanel alert">
      {{render "panel.notifications"}}
    </div>
  </div>
{{/if}}
