<div class="table-wrapper">
  <h2>Proposed changes</h2>
  <p>This is a list of all of the proposals in the system. If you want
    to vote on a proposal, (do it!) then click "Random Open Proposal"
    and we'll send you to one that you haven't voted on yet!</p>
  <button {{action "randomProposal"}} class="randomOpenProposal">Random Open Proposal</button>
  <div class="proposals">
    {{#each model as |proposal|}}
      {{#link-to "proposal" proposal.id}}
        <div class="{{proposal.state}} item">
          <div class="word">
            {{proposal.wordName}}
          </div>
          <div class="action">
            {{proposal.typeName}}
            by
            {{#if proposal.wordnet}}
              Wordnet
            {{else}}
              {{proposal.user.id}}
            {{/if}}
          </div>
          <div class="state-progress">
            <div class="{{proposal.state}} state">
              {{proposal.state}}
            </div>
            <div class="progress-bar">
              <div class="progress">
                <div class="bar negative" style="{{proposal.negativeTally}}"></div>
                <div class="bar positive" style="{{proposal.positiveTally}}"></div>
              </div>
            </div>
          </div>
        </div>
      {{/link-to}}
    {{/each}}
    <div class="pagination">
      {{#if hasPreviousPage}}
        {{#link-to "proposals" (query-params page=prevPage) class="prev"}}<span class="ion-chevron-left"></span>{{/link-to}}
      {{/if}}
      <div class="pageNumber">Page {{page}}</div>

      {{#if hasNextPage}}
        {{#link-to "proposals" (query-params page=nextPage) class="next"}}<span class="ion-chevron-right"></span>{{/link-to}}
      {{/if}}
    </div>
  </div>
</div>
