<div class="wrapper">
  <h2>Proposed changes</h2>
  <div class="proposals">
    <div class="item">
      <div class="word">Word</div>
      <div class="action">Action</div>
      <div class="user">User</div>
      <div class="state">Status</div>
    </div>
    {{#each proposal in model}}
      <div {{bind-attr class="proposal.state :item"}}>
        <div class="word">{{#link-to "word" proposal.word.id}}{{proposal.wordName}}{{/link-to}}
        </div>
        <div class="action">
          {{proposal.action}}
        </div>
        <div class="user">
          {{#if proposal.wordnet}}
            Wordnet
          {{else}}
            {{proposal.user.id}}
          {{/if}}
        </div>
        <div {{bind-attr class="proposal.state :state"}}>
          {{proposal.state}}
        </div>
        <div class="view">{{#link-to "proposal" proposal.id}}View{{/link-to}}</div>
      </div>
    {{/each}}
  </div>
</div>
