<div class="proposal-wrap">
  {{#if model.project}}
  {{project-info project=model.project progress=true}}
  {{/if}}
  <div class="proposal">
    <div class="details">
      {{#if model.wordnet}}
        Wordnet proposed a {{model.typeName}}.
      {{else}}
        {{#if model.user}}
          {{#link-to "user" model.user}}
            <img src="{{model.user.imageUrl}}" class="avatar" alt="" />
          {{/link-to}}
          {{#link-to "user" model.user}}
            {{model.user.id}}
          {{/link-to}}
          proposed a {{model.typeName}}.
        {{else}}
          <img src="assets/images/square-logo.png" class="avatar" alt="" />
          <div class="detail-text">Wordset inherited this {{model.typeName}} from Wordnet.</div>
        {{/if}}
      {{/if}}

    </div>

    {{partial partialName model}}

    {{#if canChange}}
      {{#if isEditing}}
      {{else}}
        <div class="proposal-change-buttons">
          {{confirm-button action="withdraw" text="Delete Proposal" confirmText="Click to Confirm"}}
          {{#if model.isEditableType}}
            <button {{action "startEdit"}} class="edit">Edit</button>
          {{/if}}
        </div>
      {{/if}}
    {{/if}}
  </div>
</div>

<div class="proposal-sidebar">
  <h4> Reason</h4>
  <div class="reason">
    {{#if model.reason}}
      {{model.reason}}
    {{else}}
      {{#if model.wordnet}}
        <em>Imported from Wordnet 3.0</em>
      {{else}}
        <em>No reason given</em>
      {{/if}}
    {{/if}}
  </div>
  <h4>Tally</h4>
  <div class="progress-bar">
    <div class="progress-negative">
      <div class="bar" style="{{model.negativeTally}}"></div>
    </div>
    <div class="progress-positive">
      <div class="bar" style="{{model.positiveTally}}"></div>
    </div>
    <div class="numbers">
      <div class="min">-100</div>
      <div class="mid">0</div>
      <div class="max">100</div>
    </div>
  </div>

  {{render "proposal/votes"}}
  {{#if isOpen}}
    {{render "proposal/new-comment"}}
  {{/if}}
  {{render "proposal/activities" model.activities}}
</div>
