<div class="proposal">
  <div class="details">
    {{#if wordnet}}
      Wordnet
    {{else}}
      {{#link-to "user" model.user}}
        <img {{bind-attr src="user.imageUrl"}} class="avatar" />
      {{/link-to}}
      {{#link-to "user" model.user}}
        {{user.id}}
      {{/link-to}}
    {{/if}}
    proposed a
    {{typeName}}.
  </div>

  {{#if isNewMeaning}}
    {{partial "proposal/new-meaning" model}}
  {{/if}}
  {{#if isNewWord}}
    {{partial "proposal/new-word" model}}
  {{/if}}
  {{#if isMeaningChange}}
    {{partial "proposal/meaning-change" model}}
  {{/if}}

  {{#if canEdit}}
    {{#if isEditing}}
    {{else}}
      <button {{action "startEdit"}}>Edit</button>
    {{/if}}
  {{/if}}
</div>

<div class="votes-sidebar">
  <h4> Reason</h4>
  <div class="reason">
    {{#if reason}}
      {{reason}}
    {{else}}
      {{#if wordnet}}
        <em>Imported from Wordnet 3.0</em>
      {{else}}
        <em>No reason given</em>
      {{/if}}
    {{/if}}
    {{#if canEdit}}
      {{#if isWithdrawing}}
        <p>Click again to confirm!</p>
      {{/if}}
      <button class="flag" {{action "withdraw"}}>Withdraw!</button>
    {{/if}}
  </div>
  <h4>Tally</h4>
  <div class="progress-bar">
    <div class="progress-negative">
      <div class="bar" {{bind-attr style="negativeTally"}}></div>
    </div>
    <div class="progress-positive">
      <div class="bar" {{bind-attr style="positiveTally"}}></div>
    </div>
    <div class="numbers">
      <div class="min">-100</div>
      <div class="mid">0</div>
      <div class="max">100</div>
    </div>
  </div>

  {{render "proposal/votes" model.votes}}
  {{#if isOpen}}
    {{render "proposal/new-comment"}}
  {{/if}}
  {{render "proposal/activities" model.activities}}
</div>
