<div class="table-wrapper">
  <h2>Proposed changes</h2>
  <p>This is a list of all of the proposals in the system. If you want
    to vote on a proposal, (do it!) then click "Random Open Proposal"
    and we'll send you to one that you haven't voted on yet!</p>
  <button>
    {{#link-to "proposals.random"}}Random Open Proposal{{/link-to}}
  </button>
  <div class="proposals">
    <div class="item">
      <div class="word">Word</div>
      <div class="action">Action</div>
      <div class="user">User</div>
      <div class="state">Status</div>
    </div>
    {{#each proposal in controller}}
      <div {{bind-attr class="proposal.state :item"}}>
        <div class="word">
          {{proposal.wordName}}
        </div>
        <div class="action">
          {{proposal.typeName}}
        </div>
        <div class="user">
          {{#if proposal.wordnet}}
            Wordnet
          {{else}}
            {{proposal.user.id}}
          {{/if}}
        </div>
        <div {{bind-attr class="proposal.state :state"}}>
          {{proposal.state}}
        </div>
        <div class="view">{{#link-to "proposal" proposal.id}}View{{/link-to}}</div>
      </div>
    {{/each}}
    <div>
      Page {{page}} out of {{totalPages}} pages
      {{#if hasPreviousPage}}
        {{link-to "Previous Page" "proposals" (query-params page=prevPage)}}
      {{/if}}
      {{#if hasNextPage}}
        {{link-to "Next Page" "proposals" (query-params page=nextPage)}}
      {{/if}}
    </div>
  </div>
</div>
