<div {{bind-attr class=":details state"}}>
  <div class="title">
    <span>Word:</span>
    {{wordName}}
  </div>
  <div class="action-change">
    <span>Change:</span>
    {{typeName}}
  </div>
  <div class="action-change">
    <span>Status:</span>
    {{state}}
  </div>
  <div class="action-change">
    <span>User:</span>
    {{user.id}}
  </div>
  <div class="action-change">
    <span> Reason:</span>
    {{#if reason}}
      {{reason}}
    {{else}}
      {{#if wordnet}}
        <em>Imported from Wordnet 3.0</em>
      {{else}}
        <em>No reason given</em>
      {{/if}}
    {{/if}}
  </div>
</div>

{{#if isNewMeaning}}
  {{render "proposal/new-meaning" model}}
{{/if}}
{{#if isNewWord}}
  {{render "proposal/new-word" model}}
{{/if}}
{{#if isMeaningChange}}
  {{render "proposal/meaning-change" model}}
{{/if}}

<div class="votes-sidebar">
  <h4>Tally</h4>
  <div class="progress-bar">
    <div class="progress-negative">
      <div class="bar" {{bind-attr style="negativeTally"}}></div>
    </div>
    <div class="progress-positive">
      <div class="bar" {{bind-attr style="positiveTally"}}></div>
    </div>
    <div class="numbers">
      <div class="min">-100</div>
      <div class="mid">0</div>
      <div class="max">100</div>
    </div>
  </div>

  {{render "proposal/votes" model.votes}}
</div>
