{{#if currentUser}}

{{else}}
  <div class="banner">
    This is a collaborative project.
    {{#link-to "users.new"}}Sign up{{/link-to}} to propose improvements!
  </div>
{{/if}}

<div class="proposal-wrap">
  {{#if model.project}}
    {{partial "project/header"}}
  {{/if}}
  <div class="proposal">
    <div class="details">
      {{#if wordnet}}
        Wordnet proposed a {{typeName}}.
      {{else}}
        {{#if model.user}}
          {{#link-to "user" model.user}}
            <img {{bind-attr src="user.imageUrl"}} class="avatar" />
          {{/link-to}}
          {{#link-to "user" model.user}}
            {{user.id}}
          {{/link-to}}
          proposed a {{typeName}}.
        {{else}}
          <img src="assets/images/square-logo.png" class="avatar" />
          Wordset proposed this change automatically.
        {{/if}}
      {{/if}}

    </div>

    {{partial partialName model}}

    {{#if canChange}}
      {{#if isEditing}}
      {{else}}
        <div class="proposal-change-buttons">
          {{#if isWithdrawing}}
            <div class="withdrawing-popup">Click again to confirm!</div>
          {{/if}}
          <button {{action "withdraw"}} {{bind-attr class=":withdraw isWithdrawing"}}>Withdraw!</button>
          {{#if isEditableType}}
            <button {{action "startEdit"}} class="edit">Edit</button>
          {{/if}}
        </div>
      {{/if}}
    {{/if}}
  </div>
</div>

<div class="votes-sidebar">
  <h4> Reason</h4>
  <div class="reason">
    {{#if reason}}
      {{reason}}
    {{else}}
      {{#if wordnet}}
        <em>Imported from Wordnet 3.0</em>
      {{else}}
        <em>No reason given</em>
      {{/if}}
    {{/if}}
  </div>
  <h4>Tally</h4>
  <div class="progress-bar">
    <div class="progress-negative">
      <div class="bar" {{bind-attr style="negativeTally"}}></div>
    </div>
    <div class="progress-positive">
      <div class="bar" {{bind-attr style="positiveTally"}}></div>
    </div>
    <div class="numbers">
      <div class="min">-100</div>
      <div class="mid">0</div>
      <div class="max">100</div>
    </div>
  </div>

  {{render "proposal/votes" model.votes}}
  {{#if isOpen}}
    {{render "proposal/new-comment"}}
  {{/if}}
  {{render "proposal/activities" model.activities}}
</div>
