<div class="proposal-wrap">
  {{#if model.projects}}
    {{#each model.projects as |project|}}
    {{project-info project=project progress=true}}
    {{/each}}
  {{/if}}
  <div class="proposal">
    <div class="details">
      {{#if model.wordnet}}
        Wordnet made a proposal.
      {{else}}
        {{#if model.user}}
          {{#link-to "user" model.user}}
            <img src="{{model.user.imageUrl}}" class="avatar" alt="" />
          {{/link-to}}
          {{#link-to "user" model.user}}
            {{model.user.id}}
          {{/link-to}}
          proposed a change for {{model.points}} points.
        {{else}}
          <img src="assets/images/square-logo.png" class="avatar" alt="" />
          <div class="detail-text">Wordset has automatically proposed this change.</div>
        {{/if}}
      {{/if}}

    </div>

    {{#if isLoading}}
      Loading{{loading-spinner}}
    {{else}}
      {{#if isEditing}}
        {{edit-interface changes=model.changes reason=model.reason lang=model.lang isInvalid=invalidEdit}}
        <div class="edit-interface-buttons">
          <button class="negative" {{action "cancelEdit"}}>Cancel</button>
          <button class="submit positive" {{action "submitEdit"}} disabled={{model.changes.errors}}>Save</button>
        </div>
      {{else}}
        {{proposal-diff proposal=model}}

        {{#if isDeletion}}
          <div class="is-deletion">
            <span class="ion-alert-circled"></span> This removes all meanings for this word. The word will be deleted if this proposal is accepted.
          </div>
        {{/if}}

        {{#if canChange}}
          <div class="proposal-change-buttons">
            {{confirm-button action="withdraw" text="Delete Proposal" confirmText="Click to Confirm"}}

            <button {{action "startEdit"}} class="edit positive">Edit</button>

          </div>
        {{/if}}
      {{/if}}
    {{/if}}
  </div>
</div>

<div class="proposal-sidebar">
  <h4> Reason</h4>
  <div class="reason">
    {{#if model.reason}}
      {{model.reason}}
    {{else}}
      {{#if model.wordnet}}
        <em>Imported from Wordnet 3.0</em>
      {{else}}
        <em>No reason given</em>
      {{/if}}
    {{/if}}
  </div>
  <h4>Tally</h4>
  <div class="progress-bar">
    <div class="progress-negative">
      <div class="bar" style="{{model.negativeTally}}"></div>
    </div>
    <div class="progress-positive">
      <div class="bar" style="{{model.positiveTally}}"></div>
    </div>
    <div class="numbers">
      <div class="min">-100</div>
      <div class="mid">0</div>
      <div class="max">100</div>
    </div>
  </div>

  {{render "proposal.votes"}}
  {{#if isOpen}}
    {{render "proposal.new-comment"}}
  {{/if}}

  <h4>Activity</h4>
  <div class="proposal-activities">
    {{#each model.activitiesSimple as |activity|}}
      {{proposal-activity activity=activity class=activity.type}}
    {{/each}}
  </div>

</div>
