<div class="quiz-wrap">
  <h1>{{model.title}}</h1>

  <div class="quiz-image">
    <img src={{model.image_url}} />
  </div>
  {{#if model.image_citation}}
    <div class="citation">
      Image by: <a href="{{model.image_link}}">{{model.image_citation}}</a>
    </div>
  {{/if}}

  <div class="instructions">
    {{model.instructions}}
  </div>



  {{#each model.questions as |question|}}
    <div class="quiz-question">
      <div class="image">
        <img src={{question.image_url}}>

      </div>
      {{#if question.image_citation}}
        <div class="citation">
          Image by: <a href="{{question.image_link}}">{{question.image_citation}}</a>
        </div>
      {{/if}}
      <div class="text">
        <h2>{{question.text}}</h2>
      </div>
      <ul class="answers">
        {{#each question.answers as |answer|}}
          <li class="answer {{answer.state}}">
            {{#radio-button
                value=answer.aid
                groupValue=question.selectedAnswer
                changed="selectedAnswer"}}
                <span>{{answer.text}}</span>
            {{/radio-button}}
          </li>
        {{/each}}
      </ul>
    </div>
  {{/each}}


  <div class="result">
    {{#if isComplete}}
      <div class="result-box">
        <div class="text">
          <h2>Your result...</h2>
        </div>
        <div class="image">
          <img src={{winningResult.image_url}} >
        </div>
        {{#if question.image_citation}}
          <div class="citation">
            Image by: <a href="{{winningResult.image_link}}">{{winningResult.image_citation}}</a>
          </div>
        {{/if}}
        <div class="result-name">
          {{winningResult.name}}
        </div>
        <div class="result-description">
          {{winningResult.description}}
        </div>
        <div class="social">
          Share your result on:
          <a class="share twitter ion-social-twitter" href="https://twitter.com/intent/tweet?text={{ tweet }}&amp;url={{ url }}"></a>
          <a class="share facebook ion-social-facebook" href="https://www.facebook.com/sharer/sharer.php?u={{ url }}"></a>
        </div>
      </div>
    {{/if}}
  </div>

</div>
