<div class="ad">
  <!-- AD GOES HERE. Switch from 728x90 to 320x100 after screen
       size gets below 800px width -->
</div>


<div class="wrapper">

  {{#if isEditing}}

    {{edit-interface changes=changeSet}}
    <button {{action "submitProposal"}}>SUBMIT</button>

  {{else}}
    <button {{action "startEditing"}}>EDIT</button>
    <div class="wordWrap">
      <div class="word">
        {{model.text}}
      </div>
      <div class="tabs">
        {{#link-to "seq.wordset.index" class="active"}}Definition{{/link-to}}
        {{#link-to "seq.wordset.proposals"}}Proposals{{/link-to}}
      </div>
    </div>

    {{outlet}}
  {{/if}}
</div>
