<div class="ad">
  <!-- AD GOES HERE. Switch from 728x90 to 320x100 after screen
       size gets below 800px width -->
</div>


<div class="wrapper">

  {{#if isEditing}}

    {{edit-interface changes=changeSet lang=model.lang errors=errors}}
    <div class="edit-interface-buttons">
      <button class="negative" {{action "cancel"}}>Cancel</button>
      <button class="positive submit" {{action "submitProposal"}}>Submit</button>
    </div>

  {{else}}
    <div class="wordWrap">
      <div class="word">
        {{#link-to "seq.wordset.index"}}
          {{model.text}}
        {{/link-to}}
      </div>
      {{#if model.labels}}
        {{label-display labels=model.labels}}
      {{/if}}
      <div class="button-tabs">
        {{#link-to "seq.wordset.proposals" class="button"}}History{{/link-to}}
        {{#if model.wordset.pendingProposalId}}
          {{#link-to "proposal" model.wordset.pendingProposalId class="button"}}Pending Proposal{{/link-to}}
        {{else}}
          <button class="propose" {{action "startEditing"}}>Edit</button>
        {{/if}}
      </div>
      {{#if altSpellings}}
      <div class="other-words">
        alt:
        {{#each altSpellings as |seq|}}
          {{seq.text}}
          {{label-display labels=seq.labels}}
        {{/each}}
      </div>
      {{/if}}
    </div>

    {{outlet}}
  {{/if}}
</div>
