

<div class="suggestions">
  {{#each suggestion in model}}
    <div class="suggestion">
      <div class="word">{{#link-to "word" suggestion.word}}{{suggestion.word.name}}{{/link-to}}</div>
      <div class="when">{{suggestion.createdAt}}</div>
      <div class="user">
        {{#if suggestion.wordnetImported}}
          Wordnet
        {{else}}
          by {{suggestion.user.id}}</div>
        {{/if}}
      <div {{bind-attr class="suggestion.state :state"}}>{{suggestion.state}}</div>
      <div class="view">{{#link-to "suggestion" suggestion.id}}View{{/link-to}}</div>
    </div>
  {{/each}}
</div>
