<div class="wrapper">
  <div class="user">
    <div class="bio">
      <h2>{{id}}</h2>
      <img {{bind-attr src="imageUrl"}} class="avatar" />

      <div class="info">
        <div class="points">
          <span>Points: </span>
          {{points}}
        </div>
        <div class="rank">
          {{rank}}
        </div>
      </div>
    </div>


    {{createdAt}}


    {{outlet}}
  </div>
</div>
