<div class="wrapper">
  {{#link-to "users"}}
    <span class="ion-chevron-left"></span>See Top Contributors
  {{/link-to}}

  <h2>{{id}}</h2>
  <img {{bind-attr src="imageUrl"}} />

  Points: {{points}}



  {{createdAt}}


  {{outlet}}
</div>
