<div class="wrapper">
  {{#link-to "users"}}
    See Top Contributors
  {{/link-to}}

  <h2>{{id}}</h2>

  Points: {{points}}

  <img {{bind-attr src="imageUrl"}} />

  {{createdAt}}


  {{outlet}}
</div>
