<div class="wrapper">
  <div class="user">
    <div class="bio">
      <h2>{{model.id}}</h2>
      <img {{bind-attr src="model.imageUrl"}} class="avatar" />

      <div class="info">
        <div class="points">
          <span>Points: </span>
          {{model.points}}
        </div>
        <div class="trust_level">
          {{model.trust_level}}
        </div>
      </div>
    </div>

    <div class="tabs">
      {{#link-to "user.index" class="active"}}Info{{/link-to}}
      {{#link-to "user.proposals"}}Proposals{{/link-to}}
      {{#link-to "user.activity"}}Activity{{/link-to}}
    </div>

    {{outlet}}
  </div>
</div>
